/* para autocompletar en VC utilizar ctrl izq + espacio */
/* accedemos a la raiz del documento para declarar variables */
:root {
    --color_primario: #eb5e28;
    --color_secundario: #fffcf2;
    --color_fondo: #ccc5b9;
    --color_letra: #403d39;
    --fuente_primaria: "Roboto", sans-serif;
    --fuente_secundaria: "Oswald", sans-serif;
    --fuente_terciaria: "Indie Flower", cursive;
    --fuente_cuarta: "nevis", sans-serif;
    --fuente_quinta: "Fjalla One", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color_secundario);
}

header #logo {
    height: auto;
    width: auto;
    position: absolute;
    left: 50px;
}

header #logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#info {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color_letra);
}

#info #search {
    width: 280px;
    position: absolute;
    left: 160px;
}

#info #search form {
    position: relative;
    display: flex;
    align-items: center;
}

#info #search form input {
    width: 100%;
    height: 35px;
    padding: 18px 40px;
    border-radius: 5px;
    font-size: 1rem;
}

#info #search form input::placeholder {
    position: relative;
    left: 40px;
    font-weight: 550;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

#icono {
    width: 42px;
    height: 35px;
    position: absolute;
    top: 4px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info #search svg {
    width: auto;
    height: 20px;
    z-index: 1;
    color: orange;
    stroke: orange;
    stroke-width: 0.5px;
}

#categorias {
    height: 100%;
    position: absolute;
    left: calc(100% - 600px);
    display: flex;
    align-items: center;
}

#menu ul {
    display: flex;
    gap: 10px;
}

#info #menu li a {
    color: white;
    font-family: var(--fuente_primaria);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    border-right: 2px solid black;
    padding: 5px 0;
    transition: 0.2s;
    padding: 10px;
    position: relative;
    display: block;
}

#info #menu li a::after {
    content: "";
    position: absolute;
    bottom: 0; /* Coloca el borde en la parte inferior */
    left: 0;
    width: 100%; /* Ancho completo del elemento a */
    height: 2px; /* Altura del borde inferior */
    background-color: red;
    transform: scaleX(0); /* Inicialmente, el borde estará oculto */
    transform-origin: left center;
    transition: transform 0.2s ease; /* Agrega una transición suave */
}

#info #menu li a:hover::after {
    transform: scaleX(1); /* Muestra el borde al hacer hover */
}

/* #info #menu li a:hover {
    border-bottom: 2px solid crimson;
    padding: 0 5px;
} */

#compra img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-left: 5px;
    transition: 0.2s ease-in-out all;
}

#compra a:hover img {
    transform: rotate(3deg);
    filter: drop-shadow(0 0 0.4rem gold);
}

#main {
    width: 100%;
    /* EL porcentaje restante es de 79.7% */
    height: calc(79.7% - 150px);
    background-color: var(--color_fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido {
    width: 90%;
    height: 93%;
    background-color: var(--color_secundario);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0.8rem;
}

#principal h2 {
    text-transform: uppercase;
    font-family: var(--fuente_primaria);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    /* Para hacer un degradado de color arco iris*/
    background: repeating-linear-gradient(
        to right,
        #c4e17f 50px,
        #f7fdca 50px,
        #fad071 50px,
        #f0766b,
        #db9dbe,
        #c49cdf,
        #6599e2,
        #61c2e4
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.05em;
}

#cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas: "primero segundo tercero cuarto";
}

#cards .card {
    width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 10px;
}

#cards .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid black;
    transition: 0.3s ease-in-out all;
    margin-bottom: 15px;
    cursor: pointer;
}

#cards .card:hover img {
    transform: scale(1.1);
}

#cards .card.primero {
    grid-area: primero;
}

#cards .card.segundo {
    grid-area: segundo;
}

#cards .card.tercero {
    grid-area: tercero;
}

#cards .card.cuarto {
    grid-area: cuarto;
}

#cards h4 {
    color: #131313;
    font-family: var(--fuente_primaria);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: 0.2s linear;
}

#cards p {
    color: #131313;
    font-family: var(--fuente_primaria);
    font-weight: 500;
    letter-spacing: 0.03em;
}

#cards button {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background: var(--color_primario);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease all;
    border-radius: 10px;
    position: relative;
    letter-spacing: 0.03rem;
}

#cards .card:hover button {
    box-shadow:
        0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
    max-height: 100%;
    height: 170px;
    background-color: var(--color_letra);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "acerca_de  . direccion . redes_sociales";
    align-items: center;
}

#acerca_de {
    grid-area: acerca_de;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 6px;
    /* background-color: red; */
}

#acerca_de h1 {
    width: auto;
    height: auto;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    position: relative;
}

#acerca_de .global {
    width: calc(100% - 50px);
    height: 100px;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    row-gap: 3.2px;
    letter-spacing: 0.03em;
    /* background-color: red; */
}

#autor {
    display: none;
}

#direccion {
    grid-area: direccion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
}

#direccion h1 {
    /* h1 unicamente ocupara lo suficiente para abarcar el contenido */
    /* align-self: center; */
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: 2px;
    position: relative;
}

#direccion iframe {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 100px;
    border: 1px solid black;
}

#redes_sociales {
    grid-area: redes_sociales;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
}

#redes_sociales h1 {
    height: auto;
    width: auto;
    /* align-self: center; */
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
    letter-spacing: 2px;
    position: relative;
}

#redes_sociales .wrap {
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 12px;
}

#tiktok,
#twitter,
#instagram {
    background-color: var(--color_primario);
    padding: 13px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: inline-flex;
}

#facebook {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    top: 4px;
    /* overflow: hidden; */
}

#redes_sociales div a {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

#redes_sociales div svg {
    width: 23px;
    height: 23px;
    color: black;
    stroke: black;
    stroke-width: 0.5px;
    /* position: relative; */
}

#redes_sociales #facebook a {
    display: inline-flex;
    color: black;
    width: 44px;
    height: 44px;
    padding: 10px;
    background-color: var(--color_primario);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transform: scale(1.2);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#facebook a i {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !Atajos CSS grid:
1. place-items (align-items, justify-items)
2. place-content (align-content , justify-content) */
