*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("maquetacion-1/img/paven.png")
}

#header{
    width: 100%;
    margin: 0px auto;
    height: 250px;
    min-width: 1024px;
    text-align: center;

}

#header a{
    text-decoration: none;
}

#header #logotipo{
    display:block;
    min-height: 100px;
    text-align: center;
    width: 700px;
    margin: 0px auto;


}

#header #logotipo img{
    width: 140px;
    margin: 0px auto;
    font-family: sans-serif;
}