/* este selector señala todas las etiquetas table */
.table{
    border: 2px solid;
    width: 500px;
    border-collapse: collapse;
    
}

.table td{
    border: 2px solid black;
    text-align: center;
}

.tables{
    border: 2px solid black;
}
.tables td{
    border: 1px solid black;

}

.table td:hover{
    font-size: 17px;
    background-color: lightblue;
}

#final_table{
    border: 2px solid black;
}

#final_table td{
    border: 1px solid black;
    text-align: center;
}