:root {
    --color_primario: #EB5E28;
    --color_secundario: #FFFCF2;
    --color_fondo: #CCC5B9;
    --color_letra: #403D39;
    --fuente_primaria: 'Roboto', sans-serif;
    --fuente_secundaria: 'Oswald', sans-serif;
    --fuente_terciaria: 'Indie Flower', cursive;
    --fuente_cuarta: 'nevis', sans-serif;
    --fuente_quinta: 'Fjalla One', sans-serif;
} 
* img {
    display: block;
    /* la relacion de aspecto de un manga es muy cercana a 12/18 */
    aspect-ratio: 12/18;
    width: 260px;
    /* width: 225px;
    height: 400px; */
    /* esta propiedad sirve para que la imagen ocupe todo el espacio
      sin distorsionarse */
    object-fit: cover;
    border: 1px solid black;
    transition: 0.3s ease-in-out all;
    cursor: pointer;

}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_fondo);
}

.main {
    width: 90%;
    height: 93%;
    background-color: var(--color_secundario);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 90px;
}

.wrap h2 {
    text-transform: uppercase;
    font-family: var(--fuente_primaria);
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 0.05em;
    /* Para hacer un degradado de color arco iris*/
    background: repeating-linear-gradient(to right, #c4e17f 50px, #f7fdca 50px, #fad071 50px, #f0766b, #db9dbe, #c49cdf, #6599e2, #61c2e4);
    -webkit-background-clip: text;
    color: transparent;
}

#cards{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "primero segundo tercero cuarto";
}

.card.primero {
    grid-area: primero;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 23px;
}

.card.segundo {
    grid-area: segundo;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 23px;
}

.card.tercero {
    grid-area: tercero;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 23px;
}

.card.cuarto {
    grid-area: cuarto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 23px;
}

.card .informacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    row-gap: 5px;
}

.card .informacion a{
    width: 100%;
}


#cards h3 {
    color: color var(--color_letra);
    font-family: var(--fuente_primaria);
    text-transform: uppercase;
    font-weight: bold;
    /* margin-bottom: 5px; */
    /* text-shadow da un sombreado al texto. El primer valor indica el desplazamiento horizontal,
    el segundo valor es el dezplazamiento vertical y el tercer(opcional) valor indica el desenfoque y el
    cuarto valor indica el color */
    transition: 0.2s linear;
    letter-spacing: 0.03em;
}

/* #cards .card:hover h4 {
    text-shadow: 0px 0px 1px #767676;
} */

#cards p {
    color: color var(--color_letra);
    font-family: var(--fuente_primaria);
    font-weight: bold;
    transition: 0.2s linear;
    letter-spacing: 0.03em;
}

#cards button {
    display: flex; 
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background: var(--color_primario);
	color: #fff;
	font-family: var(--fuente_primaria);
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.3 ease all; 
	border-radius: 5px;
	position: relative;
    letter-spacing: 0.03em;
	/* Es necesario un overflow para respetar los border/radius 
	Y que la capa interior no sobresalga */
	/* overflow: hidden; */
}


#cards .card:hover img {
    transform: scale(1.1);
}

#cards .card:hover button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#cards .card:hover h3 {
    text-shadow: 0px 0px 1px #767676;
}

#cards .card:hover p {
    text-shadow: 0px 0px 1px #767676;
}