:root {
    --color_primario: #eb5e28;
    --color_secundario: #fffcf2;
    --color_fondo: #ccc5b9;
    --color_letra: #403d39;
    --fuente_primaria: "Roboto", sans-serif;
    --fuente_secundaria: "Oswald", sans-serif;
    --fuente_terciaria: "Indie Flower", cursive;
    --fuente_cuarta: "nevis", sans-serif;
    --fuente_quinta: "Fjalla One", sans-serif;
}
img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid black;
    transition: 0.3s ease-in-out all;
    margin-bottom: 15px;
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_fondo);
}

.main {
    width: 90%;
    height: 85%;
    background-color: var(--color_secundario);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 60px;
}

.wrap h2 {
    text-transform: uppercase;
    font-family: var(--fuente_primaria);
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 0.05em;
    /* Para hacer un degradado de color arco iris*/
    background: repeating-linear-gradient(
        to right,
        #c4e17f 50px,
        #f7fdca 50px,
        #fad071 50px,
        #f0766b,
        #db9dbe,
        #c49cdf,
        #6599e2,
        #61c2e4
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#cards {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "primero segundo tercero cuarto";
}

#cards .card {
    width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 10px;
}

.card.primero {
    grid-area: primero;
}

.card.segundo {
    grid-area: segundo;
}

.card.tercero {
    grid-area: tercero;
}

.card.cuarto {
    grid-area: cuarto;
}

.card .informacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 10px;
}

.card .informacion a {
    width: 100%;
}

#cards h3 {
    color: #131313;
    font-family: var(--fuente_primaria);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: 0.2s linear;
}

#cards p {
    color: color var(--color_letra);
    font-family: var(--fuente_primaria);
    font-weight: 500;
    transition: 0.2s linear;
    letter-spacing: 0.03em;
}

#cards button {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background: var(--color_primario);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease all;
    border-radius: 10px;
    position: relative;
    letter-spacing: 0.03rem;
}

#cards .card:hover img {
    transform: scale(1.1);
}

#cards .card:hover button {
    box-shadow:
        0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
