@media screen and (max-width: 1890px) {
    #total p {
        position: relative;
        bottom: 20px;
        left: 10px
    }
}

@media screen and (max-width: 1724px){
    .card.primero .informacion h3 {
        padding-left: 30px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1390px) {
    #total p {
        left: 15px
    }

    .card .informacion h3{
        font-size: 15.5px !important;
    }

    .card .informacion p{
        font-size: 15.5px !important;

    }

    * img {
        width: 125px;
    }

    #pago {
        top: -210px !important;
    }

    #total {
        position: relative;
        bottom: 9px;
    }
}

@media screen  and (max-width: 1322px) {
    #pago {
        top: calc(-255px + 30px);
    }

}

@media screen  and (max-width: 1250px) {
    #pago {
        top: -532.5px;
        left: 320px;
    }

    #direccion #envio input:nth-child(3){
        width: 42%;
    }
}