.boton.cuatro::after{
    content: "";
    width: 1px;
    height: 1px;
    background: rgb(109, 14, 14);
    opacity: 0;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    transform-origin: center;
    transition: 0.5s ease;
}

.boton.cuatro:hover::after{
    transform:scale(400);
    background: crimson;
    opacity: 1;
}