:root {
    --fuente_primero: 'Montserrat', sans-serif;
    --fuente_segundo: 'Roboto', sans-serif;
    --color_fondo_primero:  #5626f1;
    --color_letra_primero: #18ffa7;
    --color_letra_segundo:  #ffc422 ;
}

*img {
    color: transparent;
}

/* colores interesantes:
 #0052D4, #65C7F7, #9CECFB 
 #ffc422 #fcc46a;;
 #00dfc0
 #4d2ed4  #5626f1;
 #5b29ff;
 #421dbe
 
 background2pagina: 
 rgb(255,255,255,0.50);
 rgb(255,255,255,0.90);
 #f4f7ff*/

body {
    font-family: var(--fuente_primero);
    color: white;
}

.info {
    width: 100%;
    height: 100vh;
    background-color: var(--color_fondo_primero);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.titulo {
    margin-top: -7px;
    font-size: 50px;
}

.titulo span {
    color: var(--color_letra_primero);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu a {
    color: white;
    padding: 10px 20px;
}

.menu .active {
    color: var(--color_letra_primero);
}

.menu a:hover {
    background-color: rgb(0, 255, 242);
    color: var(--color_fondo_primero);
    transition: ease-in 0.4s;
}

.main {
    margin: 0px auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.main img {
    width: 640px;
}

.main {
    font-size: 3em;
    font-weight: 500;
}

.info_content {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 4rem;
}


.info_content .desarrollo {
    font-weight: bold;
    color: var(--color_letra_segundo);
    font-style: normal;
}

.nombre {
    color: var(--color_letra_primero);
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.sobre_mi {
    margin: 0px auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.sobre_mi img {
    /* quiza cambiar el circulo de la imagen por un pentagono o asi */
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    
}

.presentacion {
    position: relative;
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.presentacion h2 {

}

.presentacion::after {
    content: ' ';
    position: absolute;
    /* coordenadas iniciales */
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, #ad5389, #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

/* .about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100vw;
}

.download_cv {
    padding: 10px 25px;
    cursor: pointer;
    background-color: var(--color_letra_primero);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 3px 11px -5px aqua;
} */

