:root {
    --fuente_primero: 'Montserrat', sans-serif;
    --fuente_segundo: 'Roboto', sans-serif;
    --color_fondo_primero:  #5626f1;
    --color_fondo_segundo: rgb(80, 77, 252);
    --color_letra_primero: #18ffa7;
    --color_letra_segundo:  #ffc422 ;
    --color_letra_tercero: #fff;
    --colot_letra_hover: rgb(0, 255, 242);
}


/* colores interesantes:
 #0052D4, #65C7F7, #9CECFB 
 #ffc422 #fcc46a;;
 #00dfc0
 #4d2ed4  #5626f1;
 #5b29ff;
 #421dbe
 
 background2pagina: 
 rgb(255,255,255,0.50);
 rgb(255,255,255,0.90);
 #f4f7ff*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuente_primero);
}

.hexagono {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    
}

.info,
.portfolio,
.wrap {
    width: 100%;
    height: 100vh;
    background-color: var(--color_fondo_primero);
    color: var(--color_letra_tercero);
}



.contact_section {
    width: 100%;
    height: 30vh;
    background-color: var(--color_fondo_segundo);
    color: white
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.titulo {
    margin-top: -7px;
    font-size: 50px;
}

.titulo span {
    color: var(--color_letra_primero);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu a {
    color: var(--color_letra_tercero);
    padding: 10px 20px;
}

.menu .active {
    color: var(--color_letra_primero);
}

.menu a:hover {
    background-color: var(--colot_letra_hover);
    color: var(--color_fondo_primero);
    transition: ease-in 0.4s;
}

.main {
    margin: 0px auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(380px , 1fr));
    align-items: center;
    row-gap: 1rem;
}

.main img {
    /* width: 640px; */
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.main {
    font-size: 3em;
    font-weight: 500;
}

.info_content {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 4rem;
}


.info_content .desarrollo {
    font-weight: bold;
    color: var(--color_letra_segundo);
    font-style: normal;
}

.nombre {
    color: var(--color_letra_primero);
}


.sobre_mi {
    width: 70vw;
    height: 80vh;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: 1fr;
    place-items: center;
}



.sobre_mi img {
    /* quiza cambiar el circulo de la imagen por un pentagono o asi */
    width: 260px;
    height: 260px;
    /* border-radius: 50%; */
    object-fit: cover;
}

.presentacion {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem 2.5rem;
    letter-spacing: 0.03rem;
    line-height: 1.3rem;
    color: black;
    font-size: 1.1rem;
    row-gap: 1.2rem;
    text-align: justify;
    border-radius: 0.7rem;
    background-color: white;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg,darkblue, darkorchid) border-box;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
}



/* .presentacion::after {
    content: ' ';
    position: absolute; */
    /* coordenadas iniciales */
    /* bottom: 0px;
    left: 0px;
    height: 100%;
    filter: blur(13px);
    z-index: -1;
} */


.download_cv {
    padding: 10px 25px;
    cursor: pointer;
    background-color: var(--color_letra_primero);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 3px 11px -5px aqua;
} 

.portfolio_titulo,
.contact_section {
    width: 100%;
    padding-left: 5em;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact_titulo {
    border-bottom: 4px solid var(--color_letra_primero);
}

.portfolio_titulo h2,
.contact_section h2 {
    font-size: 2.5rem;
}


.subrayado {
    height: 4px;
    width: 265px;
    background-color: var(--color_letra_primero);
    margin-top: 5px;
    margin-bottom: 2em;
}

.container {
    width: 80vw;
    height: 80vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}

.card {
    width: 300px;
    height: 380px;
    background-color: var(--color_letra_segundo);
    border-radius: 10px;
    color: black;

}

.card_img {
    width: 100%;
    height: 150px;
    background: url("../img/mangaWebsite.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_img.segundo {
    background: url("../img/botonesAnimados.png");
    background-size: cover;
}

.card_img.tercero {
    background: url("../img/bookWebsite.png");
    background-size: cover;
}

.card_img.cuarto {
    background-image: url("../img/articuloWebsite.png");
    background-size: cover;
}

.card_title {
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    font-weight: 500;
}

.card p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    letter-spacing: 0.03rem;
}

.card_projects_links {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    margin: 0px auto;
    margin-top: 0.5rem;
    padding: 1.5rem;
    width: 76%;
    
}

.card_projects_links a {
    color: var(--color_letra_tercero);
}

.card_projects_links svg {
    fill: white;
    transform: scale(1.6);
}

