/*FUENTES*/
@font-face{ /*para importar una fuente*/
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") /*arregla la visualización de las fuentes en internet explorer */ format("embedded-opentype"),
         url("fonts/nevis.woff")  format("woff"),
         url("fonts/nevis.ttf")  format("truetype"),
         url("fonts/nevis.svg")  format("svg");
         font-weight: normal; /*sirve para indicar el grosor con el que se muestran las letras*/
         font-style: normal; /*define el aspecto tipográfico de la letra como normal,italic(cursiva) y oblique*/
}

@font-face{ /*para importar una fuente*/
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype') ;
    font-weight: normal; /*sirve para indicar el grosor con el que se muestran las letras*/
    font-style: normal; /*define el aspecto tipográfico de la letra como normal,italic(cursiva) y oblique*/
}

/*ESTILOS GENERALES*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../img/paven.png);
}

a{
    color: #529125;
    text-decoration: none;
}

a:visited{
    color: #529125;
}
a:hover{
    color: #285616;
    
}

.red{
    color: #9b2422 !important; /*important sirve para dar maxima prioridad*/
}

.blue{
    color: #0c73f2 !important; /*important sirve para dar maxima prioridad*/ ;
}

/*FORMULARIOS*/
input[type="text"], /*los [] son selectores*/
input[type="email"],
input[type="password"],
select{
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #CCC inset; 
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus, /*los [] son selectores*/
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
    border: 1px solid green;
    color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
    display: block;
    border-radius: 2px;
    border: 1px solid green;
    width: 60px;
    padding: 3px;
    color: white;
    background-color: #70b231;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
    box-shadow: 0px 0px 2px gray;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
    box-shadow: 0px 0px 3px gray inset; /*inset es para que este dentro del boton*/
    text-shadow: 0px 0px 1px #ccc;
}


/*CABECERA*/
#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a{
    text-decoration: none;
}

#header #logotipo{
    width: 770px;
    margin: 0px auto; /*para centrar ese logo*/
    padding-top: 20px;
}

#header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

#header h1{
    text-align: center;
    font-size: 40px;
    font-family: "nevis"; /*sirve para definir el tipo de fuente de letra*/
    text-transform:"uppercase";
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow /*sombra de texto*/: 0px 2px 1px #333333;
    transition: all 300ms;

}

#header h1:hover{
    text-shadow /*sombra de texto*/: 0px 2px 1px #333333, 0px 0px 4px #70b231;

}

#header h1 a{
    color: #70b231;
}

/*Barra de Navegación*/
#nav{
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    font-family: sans-serif,Arial, Helvetica, sans-serif,Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#nav ul{
    list-style: none;
    margin: 0px auto;
    width: 1090px;
}

#nav >ul >li{
    line-height: 40px; /*indica la altura de una casilla remarcada por líneas*/
    float:left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#nav >ul >li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav >ul >li >a:first-child{
    border-left: 1px solid gray;
}

#nav>ul> li:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 4px /*difuminado*/ green inset /*para tener una sombra interior*/;
}

/*MENU DESPLEGABLE*/
#nav> ul> li> ul{
    display /*sirve para controlar estructuras, en este caso es para ocultar el menu desplegable*/: none;
    position: absolute; /*si tiene que sobresalir por encima de la web lo haga*/
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index /*para que se superponga al resto de elementos*/: 1;

}

#nav >ul >li:hover >ul{
    display:block;
}

#nav >ul >li:hover >ul >li{
    background-color: #F2F1F0;
    border-bottom /*borde inferior*/: 1px solid #D6D6D6; 
    padding: 8px;
    line-height: 25px; /*para centrarlo verticalmente*/
    font-size: 13px;
    transition: all 300ms;
}

#nav >ul >li:hover >ul >li a{
    color: #666666;
   
}

#nav >ul >li:hover >ul >li:hover{
    box-shadow: 0px 0px 2px #ccc inset; /*sombra interior*/
    background: rgb(238, 237, 237);
}

/*CONTENIDO*/
#content {
    width: 1250px;
    min-height: 1100px; /*hay un scroll hasta los 1100px*/
    margin: 0px auto;
}

/*BARRA LATERAL*/
#aside, #frase{
    
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}

#frase{
    clear: both;
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

#aside .widget{
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget:last-child{
    margin-bottom: 20px;
}

#aside h3{
    display: block;
    width: 100%;
    color: #333333;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

#aside li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square; /*El estilo del orden de lista*/
}
/*FORMULARIOS BARRA LATERAL*/
#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button{
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label{
    margin: 0px auto;
    text-align: center;  

}

/*SECCIONES*/
#sections{
    float: right;
    width: 75%;
    font-family: sans-serif;
    margin-right: 20px;
}

#sections .titulo{
    font-family: "fajala";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#sections section{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden; /*Todo lo que sobresalga de las secciones se oculte*/
}

#sections .article{ /*el "."sirve para señalar que clase de elemento es*/
    margin: 10px; /*En general tengo un margen de 10px*/
    margin-top: 20px;
    margin-bottom: 20px;
}