/*FUENTES*/
@font-face{ /*importar una fuente*/
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("fonts/nevis.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{ /*importar una fuente*/
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
         url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("fonts/websymbols-regular-webfont.woff") format("woff"),
         url("fonts/websymbols-regular-webfont.ttf") format("truetype");
       

}
/*ESTILOS GENERALES*/
*{ 
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("../img/paven.png");
}

a{
    color: #529125;

}

a:visited{ /*cuando el enlace haya sido visitado*/
    color: #529125;
    text-decoration: none;
}

a:hover{ /*cuando pase por encima*/
    color: #285616
}

.icon{
    font-family: "icons";
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.clearfix{
    float: none;
    clear:both;
}

input[type="text"], /*todos los input con selector de atributo texto*/
input[type="email"], 
input[type="password"],
select{
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background-color: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

.red{
    color: #9b2422 !important; /*otorga maxima prioridad*/
}

.blue{
    color: #0c73f2 !important; /*otorga maxima preioridad*/
}

.orange{
    color: #d69d2a !important;
}

input[type="text"]:focus, /*todos los input con selector de atributo texto*/
input[type="email"]:focus, 
input[type="password"]:focus,
select:focus{ /*cuando seleccione un input*/
    border: 3px solid #70b231;
    color: black;
}

button{
    display: block;
    border-radius: 2px; /*redondea los bordes*/
    border: 1px solid green; 
    width:60 px;
    padding: 3px;
    color: white;
    background-color: #70b231;
    cursor: pointer; /*cuando pase por encima me pone una mano de cursor*/
}

button:hover{
   box-shadow:0px 0px 2px gray;
}

button:active{
    box-shadow:0px 0px 3px gray inset;
    text-shadow: 0px 0px 1px #ccc; /*sombra al texto*/
 }

/*CABECERA*/
#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto; /*sirve para que el elemento quedé centrado*/
}

#header a{
    text-decoration: none;
}

#header #logotipo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width:140px;
}

#header h1{
    text-align: center;
    font-size: 40px;
    font-family: "nevis";
    text-transform: uppercase; /*transforma el texto en mayuscula*/
    letter-spacing: 4px; /*espacio entre letras*/
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms; /*tiempo transcurrido entre dos estados*/
}

#header h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a{
    color: #70b231;
}

#nav{
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#nav ul{
    list-style: none;
    margin: 0px auto;
    width: 1130px;
}

#nav > ul > li{ /*elemento hijo ul, elemento hijo li, es el 1*/
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    transition: all 300ms;
}

#nav > ul > li a{ /*elemento hijo ul, elemento hijo li, es el 1*/
    display: block; /*se comporta como bloque y podemos modificarlo como padding*/
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#nav > ul > li:hover{ /*cuando pase por encima*/
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset; /*sombra interior*/
}

#nav > ul > li > ul{
    display: none; /*sirve para ocultar el menú*/
    position: absolute; /*para que no desfigure la estructura web, que sobresalga*/
    color: white;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1; /*para que se superponga*/
}

#nav > ul > li:hover > ul{
    display: block;
}

#nav > ul > li:hover > ul > li{
    background-color: #f2f1f0;
    border-bottom: 1p solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;

}

#nav > ul > li:hover > ul > li a{
  color: #666666
}

#nav > ul > li:hover > ul > li:hover{
    box-shadow: 0px 0px 6px #ccc;
    background-color: rgb(233, 229, 229);
}

#content{
    font-family: sans-serif;
    width: 1200px;
    min-height: 1100px;
    margin: 0px auto;
}

#aside,
#frase{
    width: 200px;
    float: left; /*la caja flota a la izquierda*/
    margin: 30px; /*margen hacia todos los lados*/
    background-color: white;
    border: 1px solid #ccc; /*el borde cubre todo el aside*/
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif;
}

#frase{
    /*clear: both; /*los elementos se mueven abajo si hay una propiedad float*/
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}
.widget{ 
    display: block;
    width: 180px;
    margin: 5px auto; 
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px; 
    font-size: 14px;
    border-bottom: 1px dashed #333333;

}

.widget:last-child{
    margin-bottom: 20px;
}

#aside h3{
    display: block;
    color: #333333;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background-color: #f2f3f2;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}

#aside li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square; /*estilo de lista cuadrado*/
}

#aside div label,
#aside div input[type="text"],
#aside div input[type="password "],
#aside div a{
    display: block; /*se comporta como bloque para manipularlo mas facil*/
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div button{
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label{
    margin: 0px auto;
    text-align: center;
}

#sections{
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica; 
    margin-right: 20px;
}

#sections .titulo{
    font-family: "fajala";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center; 
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#sections section{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hiden; /*todo lo que sobresalga de las secciones se oculta*/
}

#sections .article{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date{
    color: gray;
    font-size: 14px
}

#sections .stickerOne,
#sections .stickerTwo{
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .stickerTwo{
    margin-left: 830px;
}

#history{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#footer{
    width: 100% ;/*todo el ancho del contenedor*/
    margin: 0px auto; /*elemento centrado*/
    text-align: center;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}